@import "~antd/dist/antd.css";
.login_form {
  max-width: 300px;
  margin: 100px auto;
  .login_form_forgot {
    float: right;
  }
  .ant_col_rtl .login_form_forgot {
    float: left;
  }
  .login_form_button {
    width: 100%;
  }
  #components_form_demo_normal_login .login_form {
    max-width: 300px;
  }
  #components_form_demo_normal_login .login_form_forgot {
    float: right;
  }
  #components_form_demo_normal_login .ant_col_rtl .login_form_forgot {
    float: left;
  }
  #components_form_demo_normal_login .login_form_button {
    width: 100%;
  }
}
