@import "~antd/dist/antd.css";
.registerTotal {
  min-height: 100vh;
  background: linear-gradient(to top, rgb(220, 237, 193), rgb(58, 187, 217));
    .title{
        color: white;
        font-size: 60px;
        text-align: center;
        font-family: cursive;
    }
}
.register {
  // display: none;
//   color: white;
  width: 800px;
  padding-top: 30px;
  margin: 0px auto;
  transform: translateX(5%);
  text-align: center;
  button{
      outline: none;
      border: none;
      background-color: rgba(0,0,0,.3);
      color: white;
      padding: 8px 30px;
      border-radius: 10px;
      margin-left: -100px;
  }
  button:hover{
      cursor: pointer;
  }
}
