@font-face {
  font-family: "iconfont"; /* Project id 3263670 */
  src: url('iconfont.woff2?t=1649649083316') format('woff2'),
       url('iconfont.woff?t=1649649083316') format('woff'),
       url('iconfont.ttf?t=1649649083316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingfen:before {
  content: "\e602";
}

.icon-pingfen01:before {
  content: "\e630";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-pingbi:before {
  content: "\e6c5";
}

.icon-gengxin:before {
  content: "\e7cb";
}

.icon-jiantouarrow484:before {
  content: "\e6a8";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-taoyan:before {
  content: "\e601";
}

.icon-xiazaitupian:before {
  content: "\e611";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-touxiang:before {
  content: "\e60d";
}

.icon-ok01:before {
  content: "\e733";
}

.icon-shenglve:before {
  content: "\e603";
}

.icon-xiala:before {
  content: "\e682";
}

.icon-edit:before {
  content: "\e605";
}

